div#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	
	div#logo {
		position: absolute;
		width: 25%;
		height: 100%;
		top: 0;
		left: 0;
		
		@include bgImg('../img/logo.svg', 219px 60px, 50%);
	}

	div#searchbar {
		width: 50%;
		height: 100%;
		margin: auto;

		div#barContainer {
			width: 90%;
			height: 70px;
			top: 25px;
			position: relative;
			margin: auto;
			border-bottom: 1px solid rgba($blue, .25);

			input {
				border: none;
				width: 90%;
				height: 100%;
				padding: 15px;

				transition: background-color 500ms cubic-bezier(1.000, 0.005, 0.565, 1.000);

				&:focus {
					outline: none;
					background-color: rgba($blue, .1);
				}
			}
		}
	}

	div#tools {
		position: absolute;
		width: 25%;
		height: 100%;
		top: 0;
		right: 0;
		
		div.tool-icon {
			float: right;
			width: 33.33%;
			height: 100%;
			position: relative;
			cursor: pointer;
			-webkit-clip-path: circle(10% at 50% 50%);
			clip-path: circle(10% at 50% 50%);

			transition: background-size 100ms cubic-bezier(1.000, 0.005, 0.565, 1.000), 
						clip-path 200ms cubic-bezier(1.000, 0.005, 1.000, 0.270), 
						-webkit-clip-path 200ms cubic-bezier(1.000, 0.005, 1.000, 0.270);

			&:hover {
				background-color: rgba($blue, .1);
				background-size: 40px 40px!important;
				-webkit-clip-path: circle(22.5% at 50% 50%);
				clip-path: circle(22.5% at 50% 50%);
			}

			&#notifications { @include bgImg('../img/notifications.svg', 30px 30px, 50%); }
			&#settings { @include bgImg('../img/settings.svg', 30px 30px, 50%); }
			&#user { @include bgImg('../img/user.svg', 30px 30px, 50%); }
		}
	}
}