@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Quicksand:300,400,500,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

@mixin baseType() {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	font-weight: 300;
	color: $blue;
}

@mixin buttonType() {
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: $blue;
}

@mixin titleType() {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	color: $blue;
}

@mixin inputType() {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.75rem;
	font-weight: 300;
	color: $blue;
}