/* VARS */

$white: #ffffff;
$red: #fe6847;
$blue: #0d76bc;
$grey: #475557;

/* MIXINS */

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin bgImg($url, $size, $pos, $repeat: no-repeat) {
	background-image: url($url);
	background-size: $size;
	background-position: $pos;
	background-repeat: $repeat;
}

@mixin transition($transition) {
	-moz-transition: $transition;
	-o-transition: $transition;
	-ms-transition: $transition;
	-webkit-transition: $transition;
	transition: $transition;
}
  
@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}